<ctui-toolbar title="Settings" subTitle="GENERAL"></ctui-toolbar>
<mat-list>
  @for (settingsItem of settingsItems; track settingsItem.icon) {
    <mat-list-item>
      <span matListItemIcon
        ><mat-icon>{{ settingsItem.icon }}</mat-icon></span
      >
      @if (settingsItem.onToggle) {
        <span class="list-item list-item-toggle">
          <span class="list-item-name">{{ settingsItem.name }}</span>
          <mat-slide-toggle
            [checked]="settingsItem.checked$ | async"
            (change)="settingsItem.onToggle($event.checked)"
          ></mat-slide-toggle>
        </span>
      } @else {
        <span class="list-item" (click)="settingsItem.onClick!()">{{
          settingsItem.name
        }}</span>
      }
    </mat-list-item>
  }
</mat-list>
