@use '../../../../styles/fonts/yeseva-one/mixins.scss';

mat-sidenav-container {
  height: 100%;
}

h1 {
  @include mixins.font-family-yeseva-one;
}

h1,
h3,
p {
  text-align: center;
}

div {
  margin-top: 4rem;
}
