@use '../../../../styles/fonts/yeseva-one/mixins.scss';

mat-sidenav-container {
  height: 100%;
}

h1 {
  @include mixins.font-family-yeseva-one;
}

h1,
h3,
p {
  text-align: center;
}

.carbotracker-details {
  font-size: 14px;
  margin: 25%;
  text-align: center;
  width: 50%;
}
