@use './styles/theme';
@use './styles/fonts/all-fonts';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Dosis Variable', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

button {
  font-family: 'Dosis Variable', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 20px;
}
