<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <nav class="navigation-bar">
      <mat-button-toggle-group
        class="navigation-toggle-group"
        [value]="activeNavItemValue()"
        hideSingleSelectionIndicator
      >
        @for (navItem of navItems; track navItem.value) {
          <mat-button-toggle
            [value]="navItem.value"
            (click)="navItem.onClick()"
          >
            <span class="navigation-toggle-content">
              <mat-icon>{{ navItem.icon }}</mat-icon>
              <span>{{ navItem.label }}</span>
            </span>
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </nav>
    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
