<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngFor="let navItem of navItems"
        mat-icon-button
        (click)="navItem.onClick()"
        [ngClass]="navItem.icon + '-button'"
      >
        <mat-icon
          [ngClass]="{
            'highlight-active-icon': navItem.isActive()
          }"
          >{{ navItem.icon }}</mat-icon
        >
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
