.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  --mat-toolbar-container-background-color: var(--mat-sys-primary);
  --mat-toolbar-container-text-color: var(--mat-sys-on-primary);
}

.highlight-active-icon {
  text-shadow: 0 0 3px #fff;
}

.settings-button {
  position: fixed;
  right: 10px;
}
