<form [formGroup]="signUpFormGroup">
  <h3>Sign up</h3>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="max@glucose.com" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      formControlName="password"
      matInput
      placeholder="********"
    />
  </mat-form-field>
  <button
    class="sign-up-button"
    color="primary"
    mat-raised-button
    [disabled]="signUpFormGroup.invalid"
    type="button"
    (click)="onSignUp()"
  >
    Sign Up
  </button>
  <button color="primary" mat-raised-button color="basic" (click)="onGoBack()">
    Go Back
  </button>
</form>
