@if (viewModel(); as vm) {
  <ctui-toolbar title="Current meal">
    <button
      (click)="onSaveCurrentMealClick()"
      [disabled]="viewModel().currentMealIsEmpty"
      mat-icon-button
      matTooltip="Save current meal"
    >
      <mat-icon>bookmark_add</mat-icon>
    </button>
    <button
      (click)="onClearCurrentMealClick()"
      [disabled]="viewModel().currentMealIsEmpty"
      mat-icon-button
      matTooltip="Clear current meal"
    >
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </ctui-toolbar>
  <section class="meal-summary-card">
    <div class="carbs-summary">
      <span class="carbs-value">{{
        vm.sumOfCurrentMealCarbs | number: '1.0-0'
      }}</span>
      <span class="carbs-unit">g carbs</span>
    </div>

    @if (vm.showInsulinUnits) {
      <div class="insulin-summary">
        <div class="insulin-summary-item">
          <mat-icon>wb_twilight</mat-icon>
          <span class="insulin-label">Breakfast</span>
          <span class="insulin-value"
            >{{ vm.insulinUnits.breakfast | number: '1.0-1' }} I.U.</span
          >
        </div>
        <div class="insulin-summary-item">
          <mat-icon>wb_sunny</mat-icon>
          <span class="insulin-label">Lunch</span>
          <span class="insulin-value"
            >{{ vm.insulinUnits.lunch | number: '1.0-1' }} I.U.</span
          >
        </div>
        <div class="insulin-summary-item">
          <mat-icon>nights_stay</mat-icon>
          <span class="insulin-label">Dinner</span>
          <span class="insulin-value"
            >{{ vm.insulinUnits.dinner | number: '1.0-1' }} I.U.</span
          >
        </div>
      </div>
    }
  </section>

  <section class="meal-entries-section">
    @if (vm.mealEntries.length > 0) {
      <mat-nav-list class="meal-entries-list">
        @for (mealEntry of vm.mealEntries; track mealEntry.productId) {
          <mat-list-item (click)="onMealEntryClick(mealEntry)">
            <h4 matListItemTitle>{{ mealEntry.name }}</h4>
            <p matListItemLine>
              <span>{{ mealEntry.amount }}g</span>
            </p>
          </mat-list-item>
        }
      </mat-nav-list>
    } @else {
      <div class="empty-meal-state">
        <p>No current meal created yet.</p>
        <span>Add some products to fill your list.</span>
      </div>
    }
  </section>

  <button
    (click)="onAddClick()"
    mat-fab
    color="primary"
    ctuiFixedPosition
    type="button"
    matTooltip="Add meal entry"
    [disabled]="!vm.productsAvailable"
  >
    <mat-icon>add</mat-icon>
  </button>
}
