@if (viewModel().sport; as sport) {
  <ng-container>
    <ctui-toolbar
      [title]="viewModel().pageTitle"
      [showBackwardNavigation]="true"
      (backwardNavigation)="onGoBack()"
    >
      <button
        mat-icon-button
        (click)="onDeleteClicked(sport)"
        matTooltip="Delete sport"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </ctui-toolbar>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Sport name</mat-label>
        <input [formControl]="formGroup.controls.name" type="text" matInput />
      </mat-form-field>
      <button
        color="primary"
        type="submit"
        [disabled]="formGroup.invalid || formGroup.pristine"
        mat-fab
        ctuiFixedPosition
        matTooltip="Save sport"
      >
        <mat-icon>save</mat-icon>
      </button>
    </form>
  </ng-container>
} @else {
  <ng-template> Loading the selected sport... </ng-template>
}
