<h3>Change Password</h3>
<form [formGroup]="changePasswordFormGroup" (submit)="onChangePassword()">
  <mat-form-field>
    <mat-label>Old password</mat-label>
    <input type="password" matInput formControlName="oldPassword" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input type="password" matInput formControlName="newPassword" />
    @if (changePasswordFormGroup.controls.newPassword.hasError('minlength')) {
    <mat-error>Password is too short.</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input type="password" matInput formControlName="confirmPassword" />
  </mat-form-field>
  <button color="primary" mat-raised-button type="submit">
    Change password
  </button>
</form>
