<ctui-toolbar
  title="Edit meal entry"
  [showBackwardNavigation]="true"
  (backwardNavigation)="onGoBack()"
>
  <button (click)="onClearCurrentMealClick()" mat-icon-button>
    <mat-icon>delete_sweep</mat-icon>
  </button>
</ctui-toolbar>
<form #productForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input
      name="amount"
      required
      min="1"
      type="number"
      [(ngModel)]="model.amount"
      matInput
    />
  </mat-form-field>
  <button
    color="primary"
    type="submit"
    [disabled]="productForm.invalid || productForm.pristine"
    mat-fab
    ctuiFixedPosition
  >
    <mat-icon>save</mat-icon>
  </button>
</form>
