<form #productForm="ngForm" (ngSubmit)="onSubmit()">
  <h3>Edit amount of "{{ this.currentMealEntry()?.name }}"</h3>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input
      name="amount"
      required
      min="1"
      type="number"
      [(ngModel)]="model.amount"
      matInput
    />
  </mat-form-field>
  <button
    color="primary"
    type="submit"
    [disabled]="productForm.invalid || productForm.pristine"
    mat-fab
    ctuiFixedPosition
  >
    <mat-icon>save</mat-icon>
  </button>
</form>
