<ctui-toolbar
  title="Account"
  [showBackwardNavigation]="true"
  (backwardNavigation)="onGoBack()"
></ctui-toolbar>
<form [formGroup]="accountFormGroup" (submit)="onSaveChanges()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      value="********"
      (focus)="onFocusPasswordInput()"
    />
  </mat-form-field>
  <button color="primary" mat-raised-button type="submit">Save changes</button>
</form>
