<ctui-toolbar
  [title]="viewModel().pageTitle"
  [showBackwardNavigation]="true"
  (backwardNavigation)="onGoBack()"
>
</ctui-toolbar>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Sport name</mat-label>
    <input [formControl]="formGroup.controls.name" type="text" matInput />
    @if (sportNameAlreadyExists()) {
      <mat-error>This sport already exists in your catalog.</mat-error>
    }
  </mat-form-field>
  <button
    color="primary"
    type="submit"
    [disabled]="
      formGroup.invalid || formGroup.pristine || sportNameAlreadyExists()
    "
    mat-fab
    ctuiFixedPosition
    matTooltip="Save sport"
  >
    <mat-icon>save</mat-icon>
  </button>
</form>
