:host {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

mat-list-item {
  min-height: 48px;
}

.insulin-diff {
  color: var(--mat-app-primary);
  font-weight: bold;
}

:host
  ::ng-deep
  .mat-calendar-body-cell.has-meal-log
  .mat-calendar-body-cell-content {
  font-weight: bold;
}

@media (orientation: landscape) {
  mat-calendar {
    max-width: 420px;
    margin-inline: auto;
  }
}
