<ctui-toolbar title="History"></ctui-toolbar>
<mat-calendar
  [dateClass]="dateClass()"
  [selected]="selectedDate()"
  (selectedChange)="onDateSelected($event)"
></mat-calendar>
@if (viewModel().mealLogsForSelectedDate.length > 0) {
  <mat-nav-list>
    @for (mealLog of viewModel().mealLogsForSelectedDate; track mealLog.id) {
      <mat-list-item (click)="onEntryClick(mealLog)">
        @if (mealLog.type === 'insulin-dose') {
          <mat-icon matListItemIcon>medication</mat-icon>
        } @else {
          <mat-icon matListItemIcon>restaurant</mat-icon>
        }
        <h4 matListItemTitle>
          @if (mealLog.type === 'insulin-dose') {
            {{ mealLog.insulin | number: '1.0-1' }} I.U.
          } @else {
            {{ mealLog.mealType }} ·
            <span>{{ mealLog.actualInsulin | number: '1.0-1' }} I.U.</span>
            @if (mealLog.estimatedInsulin !== mealLog.actualInsulin) {
              <span class="insulin-diff">
                ({{
                  mealLog.actualInsulin - mealLog.estimatedInsulin
                    | number: '1.0-1'
                }})
              </span>
            }
          }
        </h4>
        <p matListItemLine>
          {{ mealLog.createdAt | date: 'short' }}
          @if (mealLog.type === 'meal-log') {
            · Estimated
            {{ mealLog.estimatedInsulin | number: '1.0-1' }} I.U. · Ratio
            {{ mealLog.insulinToCarbRatio | number: '1.0-1' }}
          }
          @if (mealLog.note) {
            · {{ mealLog.note }}
          }
        </p>
        <div matListItemMeta>
          @if (mealLog.type === 'meal-log') {
            <button
              mat-icon-button
              matTooltip="Reload into meal"
              (click)="onReloadClick(mealLog); $event.stopPropagation()"
            >
              <mat-icon>playlist_add</mat-icon>
            </button>
          }
          <button
            mat-icon-button
            matTooltip="Delete"
            (click)="onDeleteClick(mealLog); $event.stopPropagation()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    }
  </mat-nav-list>
} @else {
  <p>No entries for this day.</p>
}

<button
  (click)="onLogInsulinDoseClick()"
  color="primary"
  ctuiFixedPosition
  mat-fab
  matTooltip="Log insulin dose"
  type="button"
>
  <mat-icon>add</mat-icon>
</button>
