rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    allow read, write: if false;
    match /products/{productId} {
      function isDocOwner(request, resource) {
        return request.auth.uid == resource.data.creator;
      }

      function documentCreatorIsRequester(request) {
        return request.resource.data.creator == request.auth.uid;
      }

      allow read, update, delete: if isDocOwner(request, resource)
      allow create: if documentCreatorIsRequester(request)
    }

    match /current-meals/{currentMealId}  {   
      function isCurrentMealOwner(request, currentMealId) {
        return request.auth != null && request.auth.uid == currentMealId;
      }

      allow read, write: if isCurrentMealOwner(request, currentMealId);
    }

    match /current-meals/{currentMealId}/products/{productId}  {   
      function isCurrentMealOwner(request, currentMealId) {
        return request.auth != null && request.auth.uid == currentMealId;
      }

      allow read, write: if isCurrentMealOwner(request, currentMealId);
    }

    match /settings/{insulinToCarbRatiosId}  {
      function isInsulinToCarbRatiosOwner(request, insulinToCarbRatiosId) {
        return request.auth != null && request.auth.uid == insulinToCarbRatiosId;
      }

      allow read, write: if isInsulinToCarbRatiosOwner(request, insulinToCarbRatiosId);
    }

    match /saved-meals/{savedMealId} {
      function isSavedMealOwner(request, resource) {
        return request.auth.uid == resource.data.creator;
      }

      function savedMealCreatorIsRequester(request) {
        return request.resource.data.creator == request.auth.uid;
      }

      allow read, update, delete: if isSavedMealOwner(request, resource)
      allow create: if savedMealCreatorIsRequester(request)
    }

    match /meal-logs/{mealLogId} {
      function isMealLogOwner(request, resource) {
        return request.auth.uid == resource.data.creator;
      }

      function mealLogCreatorIsRequester(request) {
        return request.resource.data.creator == request.auth.uid;
      }

      allow read, update, delete: if isMealLogOwner(request, resource)
      allow create: if mealLogCreatorIsRequester(request)
    }
  }
}