rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    allow read, write: if false;
    match /products/{productId} {
      function isDocOwner(request, resource) {
        return request.auth.uid == resource.data.creator;
      }
      
      function documentCreatorIsRequester(request) {
        return request.resource.data.creator == request.auth.uid;
      }
      
      allow read, update, delete: if isDocOwner(request, resource)
      allow create: if documentCreatorIsRequester(request)
    }

    function isCurrentMealOwner(request, currentMealId) {
      return request.auth != null && request.auth.uid == currentMealId;
    }

    match /current-meals/{currentMealId}  {   
      allow read: if isCurrentMealOwner(request, currentMealId);
      allow write: if isCurrentMealOwner(request, currentMealId);
    } 
  }
}